body {
  font-family: Helvetica;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
	width: 100vh;
	height: 100px;
	background-size: cover;
	color: white;
	padding-left: 10px;
	padding-top: 5px;
}